<!DOCTYPE HTML>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <link href="styles/style.css" rel="stylesheet" type="text/css" />
  <title>Paypal Demo</title>
</head>
<body>
  <div id="wrapper"><!-- start html block -->
    <header>
      <hgroup>
        <h1 class="site-title" id="main-logo"><a href="#">Paypal Demo</a></h1>
      </hgroup>
    </header>

    <div id="container">
      <!--Pestaña 1 activa por defecto-->
      <input id="tab-1" type="radio" name="tab-group" checked="checked" />
      <label for="tab-1">Merchant</label>
      <!--Pestaña 2 inactiva por defecto-->
      <input id="tab-2" type="radio" name="tab-group" />
      <label for="tab-2">Client</label>
      <div id="content">
        <div id="content-1">
          <p class="left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum sit reprehenderit iusto harum minima. Assumenda, accusamus, perspiciatis inventore tempora qui pariatur quisquam? Deleniti, placeat ea nostrum officiis obcaecati temporibus quod. Ullam, in, adipisci autem at fugit ab tempore enim ratione nesciunt alias corporis vitae quo quod nostrum itaque vero iure?</p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, id blanditiis deserunt in molestiae excepturi incidunt molestias dolor sunt dolore obcaecati non repellat mollitia error placeat est exercitationem sit voluptates iure autem saepe voluptas harum unde perferendis modi provident labore voluptatum. Repudiandae, aspernatur sit harum quod vero quos sequi voluptas!</p>
        </div>
        <!--Contenido de la Pestaña 2-->
        <div id="content-2">
          <p class="column-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, est, nisi enim voluptates dicta quibusdam recusandae eveniet provident non at nostrum nesciunt laudantium omnis aliquam debitis magni expedita cumque tempore.</p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, molestiae, officia repellendus quasi cumque dolor eius deserunt possimus aliquid neque nam assumenda veniam soluta enim commodi aperiam reprehenderit quia incidunt.</p>
        </div>
      </div>
    </div>

    <section class="content">
      <article class="post">


        <div></div>

      </article>
      <!-- end post 1 --></section>


      <footer>
        <div class="footer-left">Open Innovation Lab. Universidad Politéncica de Madrid. 2014</div>
      </footer>

    </body>
    </html>